.book-seal{
width:70px;
height:100px;
vertical-align:bottom;

}
 
.clear{
height:10px;
border-bottom:1px solid #dcdcdc;
margin-bottom:10px;
}
.center-div{
text-align:center;
}
.background-green{
color:#ffffff;
text-shadow:none;
background-color:#38b48b;
}
.text-color-red{
	color:#E74C3C;
}
.margin-0{
margin:0px;
}
.button-color-green{
background-color:#38b48b;
color:#ffffff;
text-shadow:none;
}
.button-color-orange{
background-color:#F39C12;
color:#ffffff;
text-shadow:none;
}
.button-color-blue{
background-color:#3498DB;
color:#ffffff;
text-shadow:none;
}
.button-color-sun{
background-color:#F1C40F;
color:#ffffff;
text-shadow:none;
}
.button-color-red{
background-color:#E74C3C;
color:#ffffff;
text-shadow:none;
}
.button-color-purple{
background-color:#9B59B6;
color:#ffffff;
text-shadow:none;
}




